TlogAceCustom.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- ******************************************************************
	* Permission has been granted to IBM by Toshiba Global Commerce Solutions to publish the 
	* following schema which contains material derived from the SurePOS Application Client/Server 
	* Environment for 4690 OS, Version 7 Release 3 Programming Reference. 
	* 
	* Toshiba Global Commerce Solutions and IBM hereby grant permission, to those obtaining a copy 
	* of these materials to use, copy and modify the materials solely for use in DFDL processors. 
	* THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.  
	* 
	* © Copyright Toshiba Global Commerce Solutions, 2013 
	* 
	* © Copyright International Business Machines Corporation, 2013. 
	* 
	*****************************************************************************************************
	* Version 1.0 	TlogAceCustom.xsd
	*
	* This DFDL schema is supplied by IBM. It provides a DFDL model for
	* 4690 point-of-sale transaction log (TLog) data (ACE format) user extensions.
	*
	* The following extension points are available: 
	* - Completely new transaction records 
	* - New transaction records in the 11 series
	* - New transaction records in the 99 series
	* - New transaction records in the 20 series
	* Discrimination is either using initiators or discriminators.
	* 
	******************************************************************* -->
<xsd:schema version="1" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fmt="http://www.ibm.com/dfdl/TlogAceFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:include schemaLocation="TlogAceTypes.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/TlogAceFormat" schemaLocation="TlogAceFormat.xsd"/>
    <xsd:include schemaLocation="TlogAceCommon.xsd"/>

    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format ref="fmt:TlogAceFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
    
	<!-- Group for all completely new custom records --> 
    <xsd:group name="choice_Custom">
				<xsd:choice>	
					<!-- Insert elements here -->
					 
					<!--  If we get here ensure choice fails -->
					<xsd:sequence>
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:sequence>
        	    </xsd:choice>
    </xsd:group>

	<!-- Group for custom 11 records --> 
	<!-- Custom 11 records are expected to discriminate on SubStringType -->
	<!-- When testKind 'pattern' supported, we will use that instead -->
    <xsd:group name="choice_11_Custom">
				<xsd:choice>
					<!-- Insert elements here -->
	                <xsd:element ref="TransactionRecord11_BD">
					</xsd:element>
					<!--  If we get here ensure choice fails -->
					<xsd:sequence>
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:sequence>
        	    </xsd:choice>
    </xsd:group>

    <xsd:element name="TransactionRecord11_BD">
        <xsd:complexType>
            <xsd:sequence>
           		<!--
           		<xsd:element dfdl:inputValueCalc="{xs:hexBinary('11')}" name="StringType" type="type_PS">
           		</xsd:element> 
           		-->
           	    <xsd:element dfdl:length="1" dfdl:lengthKind="explicit" fixed="BD" name="SubStringType" type="type_PS">
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{. eq xs:hexBinary('BD')}</dfdl:discriminator>
							</xsd:appinfo>
						</xsd:annotation>
                </xsd:element>
		        <xsd:element minOccurs="0" name="VoidIndicator" type="type_ASCII">
        		</xsd:element>
		        <xsd:element minOccurs="0" name="ItemUPC" type="type_PD">
                </xsd:element>
		        <xsd:element minOccurs="0" name="ItemValue" type="type_PD">
		        </xsd:element>
		        <xsd:element minOccurs="0" name="ItemDepartment" type="type_PD">
		        </xsd:element>
        		<xsd:element minOccurs="0" name="CouponCode" type="type_PD">
		        </xsd:element>
        		<xsd:element minOccurs="0" name="CouponValue" type="type_PD">
		        </xsd:element>
        		<xsd:element minOccurs="0" name="CouponDepartment" type="type_PD">
		        </xsd:element>
        		<xsd:element minOccurs="0" name="ReportingCode" type="type_PD">
		        </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xsd:sequence>
		</xsd:complexType>
    </xsd:element>

	<!-- Group for all custom 99 records --> 
	<!-- Insert elements before the sequence --> 
	<!-- All 99 records discriminate on Originator and SubType -->
	<!-- When testKind 'pattern' supported, we will use that instead -->
	<!-- Dummy example supplied -->
	<xsd:group name="choice_99_Custom">
				<xsd:choice>	
    	            <xsd:element ref="TransactionRecord99_99_99">
					</xsd:element>
					<!--  Ensure choice fails -->
					<xsd:sequence>
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:sequence>
        	    </xsd:choice>
    </xsd:group>

    <xsd:element name="TransactionRecord99_99_99">
        <xsd:complexType>
            <xsd:sequence>
           		<!--
           		<xsd:element dfdl:inputValueCalc="{xs:hexBinary('99')}" name="StringType" type="type_PS">
           		</xsd:element> 
           		-->
           	    <xsd:element name="Originator" type="type_PI">
                </xsd:element>
           	    <xsd:element name="SubType" type="type_PI" fixed="99">
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{../Originator eq 99 and . eq 99}</dfdl:discriminator>
							</xsd:appinfo>
						</xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Field1" type="type_PD">
		        </xsd:element>
                <xsd:element minOccurs="0" name="Field2" type="type_ASCII">
		        </xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xsd:sequence>
		</xsd:complexType>
    </xsd:element>

	<!-- Group for all custom 20 records --> 
	<!-- Note that all 20 records use the alternative field separator -->        
	<!-- All 20 records discriminate on SubStringType, some also on Originator and SubType --> 
	<!-- When testKind 'pattern' supported, we will use that instead -->
	<!-- Dummy example supplied -->
	<xsd:group name="choice_20_Custom">
        <xsd:choice>
					<!-- Insert elements here -->
	                <xsd:element ref="TransactionRecord20_89_99_99">
					</xsd:element>
					<!--  If we get here ensure choice fails -->
					<xsd:sequence>
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:sequence>
   	    </xsd:choice>
    </xsd:group>

    <xsd:element name="TransactionRecord20_89_99_99">
        <xsd:complexType>
            <xsd:sequence dfdl:separator="&quot;:&quot;">
				<xsd:group ref="sequence_20Common"/>
           	    <xsd:element dfdl:length="1" dfdl:lengthKind="explicit" fixed="89" name="SubStringType" type="type_PS">
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{. eq xs:hexBinary('89')}</dfdl:assert>
							</xsd:appinfo>
						</xsd:annotation>
                </xsd:element>
                <xsd:element dfdl:length="{5}" minOccurs="0" name="Operator" type="type_PD">
                </xsd:element>
           	    <xsd:element dfdl:length="{1}" name="Originator" type="type_PD">
                </xsd:element>
           	    <xsd:element dfdl:length="{1}" fixed="99" name="SubType" type="type_PD">
						<xsd:annotation>
							<xsd:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{../Originator eq 99 and . eq 99}</dfdl:discriminator>
							</xsd:appinfo>
						</xsd:annotation>
                </xsd:element>
	            <xsd:element minOccurs="0" name="Field1" type="type_PD">
    	        </xsd:element>
	            <xsd:element minOccurs="0" name="Field2" type="type_ASCII">
    	        </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xsd:sequence>
		</xsd:complexType>
    </xsd:element>


</xsd:schema>
