TlogAceCommon.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- ******************************************************************
	* Permission has been granted to IBM by Toshiba Global Commerce Solutions to publish the 
	* following schema which contains material derived from the SurePOS Application Client/Server 
	* Environment for 4690 OS, Version 7 Release 3 Programming Reference. 
	* 
	* Toshiba Global Commerce Solutions and IBM hereby grant permission, to those obtaining a copy 
	* of these materials to use, copy and modify the materials solely for use in DFDL processors. 
	* THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.  
	* 
	* © Copyright Toshiba Global Commerce Solutions, 2013 
	* 
	* © Copyright International Business Machines Corporation, 2013. 
	* 
	*****************************************************************************************************
	* Version 1.0 	TlogAceCommon.xsd
	*
	* This DFDL schema is supplied by IBM. It provides common DFDL components for
	* 4690 point-of-sale transaction log (TLog) data (ACE format).
	*
	******************************************************************* --><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fmt="http://www.ibm.com/dfdl/TlogAceFormat" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        
  <xsd:include schemaLocation="TlogAceTypes.xsd"/>
  <xsd:import namespace="http://www.ibm.com/dfdl/TlogAceFormat" schemaLocation="TlogAceFormat.xsd"/>

    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format ref="fmt:TlogAceFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
    

	<!-- Common for 13 and 97_13 -->
    <!-- Tenders is unbounded with end indicated by Negative field (value 95 to 99) so we use a discriminator to look at the value of TenderType. --> 
    <!-- When we get 95 to 99 we have gone off the end so we back out. -->
    <!-- For this to work we must set separatorPolicy to 'suppressed' because what we have here is non-positional data. --> 
	<xsd:group name="sequence_13Tenders">  
		<xsd:sequence dfdl:separatorPolicy="suppressed">
    	            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Tenders">
								<xsd:annotation>
									<xsd:appinfo source="http://www.ogf.org/dfdl/">
										<dfdl:discriminator>{./TenderType lt 95}</dfdl:discriminator>
									</xsd:appinfo>
								</xsd:annotation>
        	        	<xsd:complexType>
		    	            <xsd:sequence>
                	            <xsd:element dfdl:length="1" dfdl:lengthKind="explicit" name="TenderType" type="type_PI">
                    	        </xsd:element>
                        	    <xsd:element  name="TenderAmount" type="type_PL">
                            	</xsd:element>
                        	</xsd:sequence>
                    	</xsd:complexType>
                	</xsd:element>    
                <xsd:element  minOccurs="0" name="Negative" type="type_PD">
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="NegativeTenders">
                	<xsd:complexType>
		                <xsd:sequence>
                            <xsd:element dfdl:length="1" dfdl:lengthKind="explicit" name="NegativeTenderType" type="type_PI">
                            </xsd:element>
                            <xsd:element  name="NegativeTenderAmount" type="type_PL">
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>    
            </xsd:sequence>
	</xsd:group>

	<!-- Common fields at the start of all 20 records --> 
    <xsd:group name="sequence_20Common">
            <xsd:sequence dfdl:separator="&quot;:&quot;">
           		<!--
           		<xsd:element dfdl:inputValueCalc="{xs:hexBinary('20')}" name="StringType" type="type_PS">
           		</xsd:element> 
           		-->
                <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" name="TerminalNumber" type="type_PS">
                </xsd:element>
                <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" name="TransactionNumber" type="type_PS">
                </xsd:element>
                <xsd:element dfdl:length="5" dfdl:lengthKind="explicit" name="DateTime" type="type_PD">
                </xsd:element>
            </xsd:sequence>
    </xsd:group>

	<!-- Common fields for 20 record amounts --> 
	<xsd:group name="sequence_20Amounts">
		<xsd:sequence dfdl:separator="&quot;:&quot;">
                <xsd:element  minOccurs="0" name="AmountCash" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountCheck" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountFoodStamps" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountMiscellaneous1" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountMiscellaneous2" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountMiscellaneous3" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountManufacturerCoupons" type="type_ASCII">
                </xsd:element>
                <xsd:element  minOccurs="0" name="AmountStoreCoupons" type="type_ASCII">
                </xsd:element>
		</xsd:sequence>
	</xsd:group>

	<!-- Common field for all records -->	
    <xsd:element name="CustomUserField" type="type_PS"/>

</xsd:schema>
