TlogAceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************
	* Permission has been granted to IBM by Toshiba Global Commerce Solutions to publish the
	* following schema which contains material derived from the SurePOS Application Client/Server
	* Environment for 4690 OS, Version 7 Release 3 Programming Reference.
	*
	* Toshiba Global Commerce Solutions and IBM hereby grant permission, to those obtaining a copy
	* of these materials to use, copy and modify the materials solely for use in DFDL processors.
	* THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.
	*
	* © Copyright Toshiba Global Commerce Solutions, 2013
	*
	* © Copyright International Business Machines Corporation, 2013.
	*
	*********************************************************************
	* Version 1.1 	TlogAceTypes.xsd
	*
	* This DFDL schema is supplied by IBM. It provides a set of types
	* to assist in the creation of DFDL schemas that model
	* 4690 point-of-sale transaction log (TLog) data (ACE format).
	* 
	******************************************************************* -->
<xs:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns:fmt="http://www.ibm.com/dfdl/TlogAceFormat" 
           xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" 
           xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fn="http://www.w3.org/2005/xpath-functions">

    <xs:import namespace="http://www.ibm.com/dfdl/TlogAceFormat" schemaLocation="TlogAceFormat.xsd"/>

    <xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format ref="fmt:TlogAceFormat"/>
		</xs:appinfo>
	</xs:annotation>

    <xs:complexType name="type_4ByteBitField_Desc">
      <xs:sequence>
        <xs:element name="Bits_31_0" type="xs:decimal"/>
		<!-- Interpreted as
        <xs:element maxOccurs="1" minOccurs="0" name="Bit31" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit30" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit29" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit28" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit27" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit26" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit25" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit24" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit23" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit22" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit21" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit20" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit19" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit18" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit17" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit16" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit15" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit14" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit13" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit12" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit11" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit10" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit9" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit8" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
        -->
    </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="type_2ByteBitField_ByteReversedLittleIndian">
      <xs:sequence>
        <xs:element name="Bits_0_15_LittleEndian" type="xs:decimal"/>
		<!-- Interpreted as	
        <xs:element maxOccurs="1" minOccurs="0" name="Bit8" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit9" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit10" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit11" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit12" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit13" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit14" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit15" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
        -->
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="type_4ByteBitField">
        <xs:sequence>
        	<xs:element name="Bits_0_31" type="xs:decimal"/>
			<!-- Interpreted as
            <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit8" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit9" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit10" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit11" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit12" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit13" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit14" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit15" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit16" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit17" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit18" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit19" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit20" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit21" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit22" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit23" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit24" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit25" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit26" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit27" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit28" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit29" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit30" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit31" type="xs:boolean"/>
            -->
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="type_3ByteBitField">
        <xs:sequence>
        	<xs:element name="Bits_0_23" type="xs:decimal"/>
        	<!-- Interpreted as 
            <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit8" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit9" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit10" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit11" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit12" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit13" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit14" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit15" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit16" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit17" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit18" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit19" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit20" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit21" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit22" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit23" type="xs:boolean"/>
            -->
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="type_1ByteBitField">
        <xs:sequence>
        	<xs:element name="Bits_0_7" type="xs:decimal"/>
        	<!-- Interpreted as
            <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
            -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="type_2ByteBitField">
        <xs:sequence>
        	<xs:element name="Bits_0_15" type="xs:decimal"/>
        	<!-- Interpreted as
            <xs:element maxOccurs="1" minOccurs="0" name="Bit0" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit1" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit2" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit3" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit4" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit5" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit6" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit7" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit8" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit9" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit10" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit11" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit12" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit13" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit14" type="xs:boolean"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bit15" type="xs:boolean"/>
            -->
        </xs:sequence>
    </xs:complexType>
    
                  
  	<xs:simpleType name="type_PD">
  		<xs:restriction base="xs:decimal"/>
  	</xs:simpleType>
  	
  	  	
  	<xs:simpleType name="type_PL">
  		<xs:restriction base="xs:long"/>
  	</xs:simpleType>
  	
  	<xs:simpleType name="type_PI">
  		<xs:restriction base="xs:int"/>
  	</xs:simpleType>
  	
  	<xs:simpleType name="type_PS">
  		<xs:restriction base="xs:hexBinary"/>
  	</xs:simpleType>
  	
  	<xs:simpleType dfdl:representation="text" name="type_ASCII">
  		<xs:restriction base="xs:string"/>
  	</xs:simpleType>
  	
  	
</xs:schema>