ACE/TlogAceCustom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************
	* Permission has been granted to IBM by Toshiba Global Commerce Solutions to publish the
	* following schema which contains material derived from the SurePOS Application Client/Server
	* Environment for 4690 OS, Version 7 Release 5 Programming Reference.
	*
	* Toshiba Global Commerce Solutions and IBM hereby grant permission, to those obtaining a copy
	* of these materials to use, copy and modify the materials solely for use in DFDL processors.
	* THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.
	*
	* © Copyright Toshiba Global Commerce Solutions, 2015
	*
	* © Copyright International Business Machines Corporation, 2015.
	*
	*********************************************************************
	* Version 1.2 	TlogAceCustom.xsd
	*
	* Change History
	* 1.2: Updates to support v7r4 (prolog comments only)
	*
	* This DFDL schema is supplied by IBM. It provides a DFDL model for
	* 4690 point-of-sale transaction log (TLog) data (ACE format) user extensions.
	*
	* The following extension points are available: 
	* - Completely new transaction records 
	* - New transaction records in the 11 series
	* - New transaction records in the 99 series
	* - New transaction records in the 20 series
	* Discrimination is either using initiators or discriminators.
	* 
	******************************************************************* -->
<xs:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns:fmt="http://www.ibm.com/dfdl/TlogAceFormat" 
           xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" 
           xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fn="http://www.w3.org/2005/xpath-functions"
           >

    <xs:include schemaLocation="TlogAceTypes.xsd"/>
    <xs:import namespace="http://www.ibm.com/dfdl/TlogAceFormat" schemaLocation="TlogAceFormat.xsd"/>
    <xs:include schemaLocation="TlogAceCommon.xsd"/>

    <xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format ref="fmt:TlogAceFormat"/>
		</xs:appinfo>
	</xs:annotation>
    
	<!-- Group for all completely new custom records --> 
    <xs:group name="choice_Custom">
				<xs:choice>	
					<!-- Insert elements here -->
					 
					<!--  If we get here ensure choice fails -->
					<xs:sequence>
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xs:appinfo>
						</xs:annotation>
					</xs:sequence>
        	    </xs:choice>
    </xs:group>

	<!-- Group for custom 11 records --> 
	<!-- Custom 11 records are expected to discriminate on SubStringType -->
	<!-- When testKind 'pattern' supported, we will use that instead -->
    <xs:group name="choice_11_Custom">
				<xs:choice>
					<!-- Insert elements here -->
	                <xs:element ref="TransactionRecord11_BD">
					</xs:element>
					<!--  If we get here ensure choice fails -->
					<xs:sequence>
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xs:appinfo>
						</xs:annotation>
					</xs:sequence>
        	    </xs:choice>
    </xs:group>

    <xs:element name="TransactionRecord11_BD">
        <xs:complexType>
            <xs:sequence>
           		<!--
           		<xs:element dfdl:inputValueCalc="{xs:hexBinary('11')}" name="StringType" type="type_PS">
           		</xs:element> 
           		-->
           	    <xs:element dfdl:length="1" dfdl:lengthKind="explicit" fixed="BD" name="SubStringType" type="type_PS">
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{. eq xs:hexBinary('BD')}</dfdl:discriminator>
							</xs:appinfo>
						</xs:annotation>
                </xs:element>
		        <xs:element minOccurs="0" name="VoidIndicator" type="type_ASCII">
        		</xs:element>
		        <xs:element minOccurs="0" name="ItemUPC" type="type_PD">
                </xs:element>
		        <xs:element minOccurs="0" name="ItemValue" type="type_PD">
		        </xs:element>
		        <xs:element minOccurs="0" name="ItemDepartment" type="type_PD">
		        </xs:element>
        		<xs:element minOccurs="0" name="CouponCode" type="type_PD">
		        </xs:element>
        		<xs:element minOccurs="0" name="CouponValue" type="type_PD">
		        </xs:element>
        		<xs:element minOccurs="0" name="CouponDepartment" type="type_PD">
		        </xs:element>
        		<xs:element minOccurs="0" name="ReportingCode" type="type_PD">
		        </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xs:sequence>
		</xs:complexType>
    </xs:element>

	<!-- Group for all custom 99 records --> 
	<!-- Insert elements before the sequence --> 
	<!-- All 99 records discriminate on Originator and SubType -->
	<!-- When testKind 'pattern' supported, we will use that instead -->
	<!-- Dummy example supplied -->
	<xs:group name="choice_99_Custom">
				<xs:choice>	
    	            <xs:element ref="TransactionRecord99_99_99">
					</xs:element>
					<!--  Ensure choice fails -->
					<xs:sequence>
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xs:appinfo>
						</xs:annotation>
					</xs:sequence>
        	    </xs:choice>
    </xs:group>

    <xs:element name="TransactionRecord99_99_99">
        <xs:complexType>
            <xs:sequence>
           		<!--
           		<xs:element dfdl:inputValueCalc="{xs:hexBinary('99')}" name="StringType" type="type_PS">
           		</xs:element> 
           		-->
           	    <xs:element name="Originator" type="type_PI">
                </xs:element>
           	    <xs:element name="SubType" type="type_PI" fixed="99">
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{../Originator eq 99 and . eq 99}</dfdl:discriminator>
							</xs:appinfo>
						</xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="Field1" type="type_PD">
		        </xs:element>
                <xs:element minOccurs="0" name="Field2" type="type_ASCII">
		        </xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xs:sequence>
		</xs:complexType>
    </xs:element>

	<!-- Group for all custom 20 records --> 
	<!-- Note that all 20 records use the alternative field separator -->        
	<!-- All 20 records discriminate on SubStringType, some also on Originator and SubType --> 
	<!-- When testKind 'pattern' supported, we will use that instead -->
	<!-- Dummy example supplied -->
	<xs:group name="choice_20_Custom">
        <xs:choice>
					<!-- Insert elements here -->
	                <xs:element ref="TransactionRecord20_89_99_99">
					</xs:element>
					<!--  If we get here ensure choice fails -->
					<xs:sequence>
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{fn:false()}</dfdl:assert>
							</xs:appinfo>
						</xs:annotation>
					</xs:sequence>
   	    </xs:choice>
    </xs:group>

    <xs:element name="TransactionRecord20_89_99_99">
        <xs:complexType>
            <xs:sequence dfdl:separator="&quot;:&quot;">
				<xs:group ref="sequence_20Common"/>
           	    <xs:element dfdl:length="1" dfdl:lengthKind="explicit" fixed="89" name="SubStringType" type="type_PS">
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:assert>{. eq xs:hexBinary('89')}</dfdl:assert>
							</xs:appinfo>
						</xs:annotation>
                </xs:element>
                <xs:element dfdl:length="{5}" minOccurs="0" name="Operator" type="type_PD">
                </xs:element>
           	    <xs:element dfdl:length="{1}" name="Originator" type="type_PD">
                </xs:element>
           	    <xs:element dfdl:length="{1}" fixed="99" name="SubType" type="type_PD">
						<xs:annotation>
							<xs:appinfo source="http://www.ogf.org/dfdl/">
								<dfdl:discriminator>{../Originator eq 99 and . eq 99}</dfdl:discriminator>
							</xs:appinfo>
						</xs:annotation>
                </xs:element>
	            <xs:element minOccurs="0" name="Field1" type="type_PD">
    	        </xs:element>
	            <xs:element minOccurs="0" name="Field2" type="type_ASCII">
    	        </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustomUserField"/>
            </xs:sequence>
		</xs:complexType>
    </xs:element>


</xs:schema>